{% extends "AppCoder/padre.html"%}
{% load static %}

{% block section1 %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUSQUEDA CAMADA - Agregar Curso</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <form action="/AppCoder/buscar" method="GET">
        <input type="number" name="camada" id="camada">
        <input type="submit" value="Buscar">
    </form>
    <br>
    <br>
    <br>

</body>
{% endblock %}