{% extends "AppCoder/padre.html"%}
{% load static %}

{% block section1 %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">KIKITOME GAME</h1>
            <h2 class="masthead-subheading mb-0">Good Game, Well Played...</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->


<!-- {% if request.user.is_authenticated %}
                        <div class="text-center">
                            <img height="40px" src="{{url}}">
                            <h3>Hola, {{user.username}}!!!</h3>
                        </div>
{% endif %} -->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/static/AppCoder/assets/img/1.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Nuestro catalogo</h2>
                    <p>accede a nuestro catalogo para ver los juegos que hemos desarrollado y bla bla bla...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/static/AppCoder/assets/img/02.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Soy un titulo</h2>
                    <p>esto es solo una prueba de algo que se me ocurrio para ver como editar este modelo de html</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/static/AppCoder/assets/img/03.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">otro titulo</h2>
                    <p>bla bla bla.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}