{% extends "AppCoder/padre.html"%}
{% load static %}

{% block section1 %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFESOR - Agregar profesor</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <form action="" method="POST">{% csrf_token %}
        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit", value="Enviar">
    </form>
    <br>
    <br>
    <br>

</body>
{% endblock %}